* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fugaz One', cursive;
}

.navbar {
    background-color: #FD3C3D;
}

.nav-item a {
    color: #fff;
}

.navbar-brand img {
    width: 140px;
}

/* carousel design  */
.carousel-caption {
    margin-bottom: 10%;
}

.carousel-caption h1 {
    font-size: 5rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-caption h4 {
    font-size: 1.5rem;
    padding: 10px;
}

.carousel-caption button {
    padding: 10px 60px;
    margin: 0 20px;
}

@media only screen and (min-width: 736px) {
    .carousel-indicators [data-bs-target] {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 952px) {
    .carousel-caption {
        margin-bottom: 6%;
    }

    .carousel-caption h1 {
        font-size: 3rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .carousel-caption h4 {
        font-size: 1.2rem;
        padding: 10px;
    }

    .carousel-caption button {
        padding: 8px 40px;
        margin: 0 15px;
    }
}

@media only screen and (max-width: 705px) {
    .carousel-caption {
        margin-bottom: 0%;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: .8rem;
        margin: 0;
    }

    .carousel-caption h4 {
        font-size: 1rem;
        margin: 0;
    }

    .carousel-caption h5 {
        font-size: .8rem;
        margin: 0;
    }

    .carousel-caption button {
        padding: 5px 20px;
        font-size: .8rem;
        margin: 0;
    }
}

@media only screen and (max-width: 450px) {
    .carousel-caption {
        margin-bottom: 0%;
    }

    .carousel-caption h1 {
        font-size: 1rem;
        margin: 0;
    }

    .carousel-caption h5 {
        font-size: .7rem;
        margin: 0;
    }

    .carousel-caption p {
        font-size: .6rem;
        margin: 0;
    }

    .carousel-caption h4 {
        font-size: 1.2rem;
        padding: 0px;
    }

    .carousel-caption button {
        padding: 5px 10px;
        margin: 0;
        font-size: .6em;
    }
}

/* gym package card */

.our-story-card,
.latest-blog-col img {
    filter: grayscale();
    transition: filter 0.4s ease-in-out;
}

.our-story-card,
.latest-blog-col:hover img {
    filter: none;
}

.our-story-card-card-body {
    background-color: #FD3C3D;
}

@media only screen and (min-width: 1060px) {
    .package-card {
        margin-top: -30px;
    }
}

/* Our Story  */
.our-story-background {
    background-color: #181A1F;
}

.our-story-heading {
    color: #FD3C3D;
    font-size: 55px;
    position: relative;
    padding-bottom: 12px;
}

.our-story-heading::after {
    content: '';
    width: 5%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: 0%;
    right: 48%;
}

.featurs-iteam-text h5 {
    color: #FD3C3D;
}

.our-story-right-content {
    overflow: hidden;
}

/* .our-story-right-content img{
    width: 100%;
    height: 100vh;
} */
/* popular-classis  */
.popular-classis {
    background-image: url(/image/popular\ clasic\ bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.popular-classis h1 {
    color: #FD3C3D;
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-style: italic;
    text-align: center;
    margin: auto;
    font-weight: bolder;
}

.popular-classis-card {
    background-color: #181A1F;
}

.popular-classis-card,
.latest-blog-card::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 0%;
    border-bottom: 3px solid #FD3C3D;
    border-right: 3px solid #FD3C3D;
    transition: all .2s ease;
}

.popular-classis-card,
.latest-blog-card:hover::after {
    width: 95%;
    height: 95%;
    border-color: #FD3C3D;
}

.popular-classis-card-body {
    border-bottom: 1px solid #fff;
}

.popular-classis-card-body i {
    color: #FD3C3D;
    font-size: 15px;
    padding-right: 4px;
}

.popular-classis-price {
    color: #FD3C3D;
}

.popular-classis-fa-arrow-right i {
    color: #FD3C3D;
}

/* speical offer at gym  */
.special-offer {
    background-color: #FD3C3D;
}

.special-offer-text h1 {
    font-weight: 700;
    font-size: 4rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.special-offer-text h3 {
    font-weight: 600;
}

.special-offer-text h5 {
    font-weight: 600;
}

.special-offer-text h6 {
    font-weight: 600;
    background-color: #181A1F;
    padding: 0 10px;
}

.special-offer-text p {
    padding: 20px 0;
}

.special-offer-text button {
    color: #fff;
    background-color: #FD3C3D;
    padding: 10px 40px;
    border-color: #fff;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.special-offer-text button:hover {
    background-color: #fff;
    color: #FD3C3D;
    border: none;
}

.special-offer-left img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {

    .special-offer-text h1,
    h3,
    p,
    button {
        text-align: center !important;
        align-items: center !important;
        justify-content: center !important;
        margin: auto;
    }
}

/* OUR ADVANTAGES  */
.advantages {
    background-image: url(/image/our\ advantage.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.our-advantages h1 {
    color: #FD3C3D;
    text-align: center;
    margin: auto;
    padding: 50px 0;
    font-weight: 700;
    letter-spacing: 2px;
}

.advantages-icon img {
    height: 60px;
    width: 60px;
    border: 1px solid #FD3C3D;
    padding: 10px;
    margin-right: 20px;
}

.advantages-icon img:hover {
    background-color: #fff;
    border: none;
}

.our-advantage-row {
    color: white;
    margin: auto;
    padding-bottom: 20px;
}

/* Gym statistic  */
.statistic {
    background-image: url(/image/statisticbg.jpg);
    height: auto;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}

.statistic-container {
    padding: 130px 0 !important;
}

/* OUR TRAINERS  */
.our-trainers {
    background-image: url(/image/ourtrainersbg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.our-trainers-heading {
    color: #FD3C3D;
    font-size: 3rem !important;
    font-weight: 900;
    letter-spacing: 3px;
}

.trainer-soicial-icon {
    padding: 10px 0;
}

.trainer-soicial-icon a {
    color: #fff;
    background-color: #17181b;
    padding: 5px 10px;
}

.trainer-soicial-icon a:hover {
    background-color: #FD3C3D;
}

.tranner-image {
    padding-left: 0;
    padding-right: 0;
}

.tranner-image img {
    overflow: none;
    width: 100%;
    filter: grayscale();

}

.trainer-card {
    background-color: #181A1F;
    padding: 0 !important;
    margin: 0;
}

.trainer-text h5 {
    color: #FD3C3D;
}

.trainer-text p {
    padding: 25px 0;
}

.trainer-card::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 0%;
    border-bottom: 3px solid #FD3C3D;
    border-right: 3px solid #FD3C3D;
    transition: all .2s ease;
}

.trainer-card:hover::after {
    width: 95%;
    height: 95%;
    border-color: #FD3C3D;
    filter: none;
}

/* gym offer  */
.gym-offer {
    background-image: url(/image/statisticbg.jpg);
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.gym-offer-row {
    padding: 100px 0;
}

.gym-offer-button button {
    color: #fff;
    padding: 10px 30px;
    border-color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: none !important;
}

.gym-offer-button button:hover {
    background-color: #fff !important;
    color: #FD3C3D !important;
    border: none;
}

/* SUCCESS STORIES */
.our-success-stories-heading {
    text-align: center;
    margin: auto;
    color: #FD3C3D;
    font-size: 3rem;
    padding: 40px 0;
    font-weight: 900;
}

.our-success-stories {
    background-color: #181A1F;
    padding: 80px 0;
    height: auto;
    width: 100%;
}

.img-text {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    padding: 10% 5%;
    background: #383a41;
    color: #fff;
    border-radius: 15px;
}

.img-text p {
    font-size: 14px;
}

.img-text h5 {
    font-size: 18px;
    font-weight: 700;
    color: #FD3C3D;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.img-text h6 {}

.single-box {
    margin-bottom: 30px;
    background: #383a41;
    padding-top: 25px;
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.img-area {
    align-items: center;
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.img-area img {
    width: 100%;
}

.our-success-stories-carousel-indicators {
    left: 0;
    top: auto;
    bottom: -120px;
    margin-bottom: 50px;

}

.our-success-stories-carousel-indicators button {
    background: rgb(136, 135, 135);
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
}

.our-success-stories-carousel-indicators .active {
    background: #FD3C3D;
}

/* PRICING TABLES  */
.pricing-table {
    background: #1F2229;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.pricing-table-heading {
    text-align: center;
    margin: auto;
    color: #FD3C3D;
    font-size: 3rem;
    padding: 40px 0;
    font-weight: 900;
    margin-bottom: 40px;
}

.pricing-table-card {
    background: #181A1F;
}

.pricing-table-card:hover h1 {
    background-color: #FD3C3D;
}

.pricing-table-card-body h2 {
    color: #FD3C3D;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2rem;
}

.pricing-table-card-body p {
    font-size: 1.1rem;
}

.pricing-table-price h1 {
    background: #383a41;
    padding: 20px;
}

.list-group-flush {
    background-color: none !important;
}

li .fa-check {
    color: green;
}

li .fa-xmark {
    color: red;
    font-weight: 700;
}

.pricing-table-list li {
    font-size: 1.5rem;
    padding: 20px 0;
}

.pricing-table-button button {
    color: #000;
    padding: 12px 60px;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.pricing-table-button button:hover {
    background-color: #FD3C3D;
    color: #fff;
}

.pricing-table-card-gold {
    border: 2px solid #FD3C3D !important;
}

/* LATEST BLOG  */
.latest-blog {
    background-color: #181A1F;
    padding: 80px 0;
    height: auto;
    width: 100%;
    text-transform: uppercase;
}

.latest-blog-container h1 {
    text-align: center;
    margin: auto;
    color: #FD3C3D;
    font-size: 3rem;
    padding: 40px 0;
    font-weight: 900;
    margin-bottom: 40px;
}

.latest-blog-card-body {
    background: #1F2229;
    color: #fff;
}

.latest-blog-card-body h5 {
    background-color: #FD3C3D;
    padding: 10px 10px;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: -17px;
}

.fa-arrow-right {
    color: #FD3C3D;
    font-size: 2rem;
}

.latest-blog-card-body ul {
    list-style-type: none;
    padding: 15px 0;

}

.latest-blog-card-body ul li i {
    color: #FD3C3D;
}

.latest-blog-card-body ul li span {
    padding-left: 15px;
}

/* FEATURED ON  */
.featured-on {
    background: #1F2229;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.featured-on h1 {
    text-align: center;
    margin: auto;
    color: #FD3C3D;
    font-size: 3rem;
    padding: 40px 0;
    font-weight: 900;
    margin-bottom: 40px;
    text-transform: uppercase;
}
